@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --grid-template: repeat(40, 1fr) / repeat(40, 1fr);
  --main-size: 15px;
  --display: block;
  --mobile-size: 8.75px;
  --initialX: 15px;
  --initialY: 15px;
  --finalX: 15px;
  --finalY: 15px;
  --speed: 100ms;
  --finalX1: 15px;
  --finalY1: 15px;
  --finalX2: 15px;
  --finalY2: 15px;
  --finalX3: 15px;
  --finalY3: 15px;
  --finalX4: 15px;
  --finalY4: 15px;
  --obstacles-speed: 300ms;
  --image: url("./images/bombit.png");
}

/* @keyframes obstacle {
  0%{

  }
} */

.obstacles1 {
  background-image: var(--image);
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: var(--finalX);
  top: var(--finalY);
  transition: all var(--obstacles-speed) linear;
  display: block;
}
.obstacles2 {
  background-image: var(--image);
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: var(--finalX1);
  top: var(--finalY1);
  transition: all var(--obstacles-speed) linear;
  display: block;
}
.obstacles3 {
  background-image: var(--image);
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: var(--finalX2);
  top: var(--finalY2);
  transition: all var(--obstacles-speed) linear;
  display: block;
}
.obstacles4 {
  background-image: url("./images/bomb.png");
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: var(--finalX3);
  top: var(--finalY3);
  transition: all var(--obstacles-speed) linear;
  display: block;
}
.obstacles5 {
  background-image: url("./images/bomb.png");
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: var(--finalX4);
  top: var(--finalY4);
  transition: all var(--obstacles-speed) linear;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: none;
  font-family: "Poppins", sans-serif;
}

.portal {
  height: var(--main-size);
  height: var(--main-size);
  -webkit-box-shadow: inset 0px 0px 7px 2px rgba(45, 255, 196, 0.9);
  -moz-box-shadow: inset 0px 0px 7px 2px rgba(45, 255, 196, 0.9);
  box-shadow: inset 0px 0px 7px 2px rgba(45, 255, 196, 0.9);
  border-radius: 30%;
}

.obs1 {
  height: var(--main-size);
  height: var(--main-size);
  border-radius: 30%;
  background-color: rgb(0, 141, 229);
}

.obstacle {
  background-color: rgb(131, 0, 50);
  height: var(--main-size);
  width: var(--main-size);
  border-radius: 30%;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}
.background-container {
  height: 100vh;
  width: 100%;
  background-image: url("./images/qzcc1bf0foi21.png");
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  z-index: -3;
}

.heart img {
  height: 40px;
  width: 40px;
}

.heart1 {
  margin-right: 20px;
}
.heart2 {
  margin-right: 20px;
}
.heart3 {
  margin-right: 20px;
}
/* .flex-with-heart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
} */

.logoimg {
  height: 160px;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.pauseAndResume h3 {
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  color: rgb(241, 241, 241);
}

h2 {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.flexit {
  display: flex;
  position: relative;
  width: 140px;
  height: 60px;
}

.scoreit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: 600px;
  height: 140px;
  align-items: center;
  position: relative;

  /* pointer-events: none; */
}

.grid-change h3 {
  color: white;
  text-decoration: none;
}

.heartAndGameBox {
  display: flex;
  align-items: row;
}

.displayHidden {
  display: none;
}

.gameBox {
  background: rgb(200, 64, 65, 0.6);
  backdrop-filter: blur(80px);
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 10px;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 50px -3px rgb(200, 64, 65);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* .obstacle1 {
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  animation: obstacle 3s linear 0s infinite alternate;
  background-color: red;
  top: 0;
  left: 0;
} */

@keyframes obstacle {
  0% {
    left: 0;
  }

  100% {
    left: 200px;
  }
}

.heart {
  /* position: absolute; */
  display: flex;

  height: 200px;
  width: 200px;
  align-items: center;

  /* left: 10%;
  top: 50%;
  transform: translateY(-50%); */
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background: transparent;
  backdrop-filter: blur(60px);
  justify-content: space-around;
}

.displayShow {
  display: block;
}

.animationAdd {
  animation: backgroundRed 1s ease 0s;
}

.animationAddGreen {
  animation: backgroundGreen 1s ease 0s;
}

.animateHeart {
  animation: heart 0.6s linear 0s;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundRed {
  0% {
    box-shadow: 10px 10px 20px rgba(249, 1, 1, 0),
      -10px -10px 20px rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 10px 10px 20px rgba(249, 1, 1, 0.605),
      -10px -10px 20px rgba(255, 0, 0, 0.601);
  }
  100% {
    box-shadow: 10px 10px 20px rgba(249, 1, 1, 0),
      -10px -10px 20px rgba(255, 0, 0, 0);
  }
}

@keyframes backgroundGreen {
  0% {
    box-shadow: 10px 10px 20px rgba(249, 1, 1, 0),
      -10px -10px 20px rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 10px 10px 20px rgb(2, 253, 180, 0.7),
      -10px -10px 20px rgb(2, 253, 180, 0.7);
  }
  100% {
    box-shadow: 10px 10px 20px rgba(249, 1, 1, 0),
      -10px -10px 20px rgba(255, 0, 0, 0);
  }
}

.basic {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.fa-pause {
  color: rgb(102, 119, 191);

  left: 0;
  font-size: 3.5rem;

  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.fa-volume-high {
  color: rgb(102, 119, 191);

  left: 0;
  font-size: 2rem;

  cursor: pointer;
  position: relative;
}

.fa-volume-high::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 4px;
  transform: rotate(-45deg);
  background-color: white;
  left: 0;
  top: 15px;
  display: var(--display);
}

.fa-volume-slash {
  color: rgb(255, 255, 255);

  left: 0;
  font-size: 2rem;

  cursor: pointer;
}

.fa-volume-high:hover {
  color: rgb(54, 236, 66);
}
.fa-pause:hover {
  font-size: 5rem;
  color: rgb(54, 236, 66);
}

.bgBlur {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 15;
  background: transparent;
  backdrop-filter: blur(10px);
}
.pauseMenu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: rgb(48, 48, 48, 0.3);
  z-index: 16;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pauseMenuContent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hideIt {
  display: none;
}
a {
  text-decoration: none;
}
.resume {
  width: 80%;
  height: 14%;

  background-color: rgb(225, 54, 68);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.save {
  width: 80%;
  height: 14%;
  background-color: rgb(225, 54, 68);

  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(252, 252, 252);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.save:hover {
  background-color: rgb(226, 73, 86);
}
.megaSave {
  background-color: rgb(48, 48, 48, 0.3) !important;
  border: 1px solid rgb(225, 54, 68) !important;
  color: rgb(33, 128, 179) !important;
}
.load {
  width: 80%;
  height: 14%;
  background-color: rgb(225, 54, 68);

  border-radius: 6px;
  display: flex;

  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.load:hover {
  background-color: rgb(226, 73, 86);
}

.booster {
  height: var(--main-size);
  width: var(--main-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/flash.png");
  background-position: center;
  background-size: cover;
}

.boosterMega {
  height: var(--main-size);
  width: var(--main-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/potion.png");
  background-position: center;
  background-size: cover;
}

.boosterTime {
  height: var(--main-size);
  width: var(--main-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/time.png");
  background-position: center;
  background-size: cover;
}

.restart {
  width: 80%;
  height: 14%;

  background-color: rgb(225, 54, 68);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.main-menu {
  width: 78%;
  height: 15%;
  /* margin-top: 78px; */
  /* background-color: rgb(145, 45, 45); */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgb(205, 40, 25);
}

.main-menu a {
  color: rgb(255, 255, 255);
  z-index: 100;
}

.main-menu:hover {
  background-color: rgb(48, 48, 48, 0.3);
  border: 1px solid rgb(236, 69, 54);
  color: rgb(236, 69, 54);
  width: 90%;
  height: 20%;
}

.div1 {
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}
.div2 {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.grid-value {
  height: 200px;
  width: 200px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gird-state {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  color: white;
}
.grid-state-20 {
  background-color: rgb(225, 54, 68);
}
.grid-state-30 {
  background-color: rgb(225, 54, 68);
}
.grid-state-40 {
  background-color: rgb(225, 54, 68);
}
.grid-state-60 {
  background-color: rgb(225, 54, 68);
}
.gird-state:hover {
  background-color: rgb(48, 48, 48, 0.3);
  border: 1px solidrgb(225, 54, 68);
  color: rgb(225, 54, 68);

  transition: all 0.3s ease 0s;
}

.grid-variable-state {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  position: relative;
}
.grid-variable-state-menu {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 13.33px;
  position: relative;
}

.grid-menu {
  background-color: rgb(31, 185, 167);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 13.33px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.grid-menu:hover {
  background: transparent;
  color: rgb(31, 185, 167);
  border: 1px solid rgb(31, 185, 167);
}

.grid-change {
  position: absolute;
  top: 6%;
  color: rgb(33, 128, 179);
}

.pauseAndResume {
  display: flex;
  align-items: center;
  padding-top: 0px;
  gap: 20px;
  flex-direction: column;
  width: 90%;
  padding: 20px 0;
}

.restart:hover {
  background-color: rgb(48, 48, 48, 0.3);
  border: 1px solid rgb(225, 54, 68);
  color: rgb(225, 54, 68);
  width: 90%;
  height: 20%;
}

.resume:hover {
  background-color: rgb(225, 74, 86);
}

.timer {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 2.8rem;
  width: 76px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 0;
}
.score {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.life {
  height: 30px;
  width: 200px;
  background-color: rgb(50, 50, 50);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  display: flex;

  justify-content: space-evenly;

  /* align-items: center; */
}

/* img {
  margin-top: 10px;
  height: 20px;
} */

.threelivesover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 500px;
  background-color: rgb(0, 25, 47, 0);
  z-index: 16;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Play", sans-serif;

  flex-direction: column;
}

.overMobile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 500px;
  background-color: rgb(0, 25, 47, 0);
  z-index: 16;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Play", sans-serif;

  flex-direction: column;
}
.gameover {
  font-size: 4em;
  color: rgb(24, 159, 139);
  font-weight: 700;
  margin-top: 40px;
}
.megaa {
  font-size: 3em !important;
}

.hidePls {
  display: none;
}
.gameover span {
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

span {
  color: rgb(24, 159, 139);
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.yourscore {
  font-weight: 400;
  color: white;
  margin-top: 20px;
  font-size: 1.3rem;
}

.hideMe {
  display: none;
}

@keyframes yourscore {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.restartit {
  font-weight: 400;
  color: white;
  margin-top: 50px;
  letter-spacing: 3px;
  font-size: 1.5rem;
  animation: yourscore 2s ease infinite;
}

.game-container {
  height: 600px;
  width: 600px;
  background: transparent;
  display: grid;
  grid-template: var(--grid-template);
  flex-shrink: 0;
}

.snake1 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake2 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake3 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake4 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake5 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake6 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake7 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake8 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake9 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake10 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake11 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake12 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake13 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake14 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake15 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake16 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake17 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake18 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake19 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake20 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake21 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake22 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake23 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake24 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake25 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake26 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake27 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake28 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake29 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake30 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake31 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake32 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake33 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake34 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.snake35 {
  background-color: rgb(2, 253, 180);
  border-radius: 30%;
  position: absolute;
  height: var(--main-size);
  width: var(--main-size);
  left: none;
  top: none;
  transition: all var(--speed) linear;
}
.food {
  background-color: orange;
  border-radius: 50%;
}

.hideSnake {
  display: none;
}

.headsnake {
  background-color: rgb(0, 128, 105) !important;

  height: var(--main-size);
  width: var(--main-size);
  border-radius: 3px;
  position: absolute;
  left: var(--initialX);
  top: var(--initialY);
  transition: all var(--speed) linear;
  animation: headsnake 3s linear infinite;
}

@keyframes headsnake {
  0% {
    background-color: rgb(222, 93, 6);
  }
  100% {
    background-color: rgb(0, 141, 38);
  }
}

.sequence {
  height: 50px;
  width: 600px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  margin-top: 20px;
  display: grid;
  justify-content: center;

  align-items: center;
}

.target {
  height: 20px;
  width: 20px;
  background-color: white;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  transition: all ease;
}

.snakeRed {
  background-color: rgb(153, 0, 0);

  border-radius: 3px;
  transition: all ease;
}

.haveBorder {
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.4);
}

.right {
  display: none;
  position: absolute;
  top: 80%;
  right: 24%;
}
.right img {
  height: 65px;
}
.left {
  display: none;
  position: absolute;

  top: 80%;
  left: 24%;
}
.left img {
  height: 65px;
  transform: rotate(180deg);
}
.up {
  display: none;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translateX(-50%);
}
.up img {
  height: 65px;
  transform: rotate(-90deg);
}
.down {
  display: none;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translateX(-50%);
}

.down img {
  height: 65px;
  transform: rotate(90deg);
}

.circle {
  display: none;
  height: 65px;
  width: 65px;
  border-radius: 10px;
  background: rgb(0, 128, 105);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80.2%;
}

.irotateMobile .fa-solid {
  position: absolute;
  /* right: 39.5%;
  top: 9.5%; */

  font-size: 2.5rem;
}

.irotateMobile {
  cursor: pointer;
  z-index: 10;
  color: white;
}

.irotatePc .fa-solid {
  font-size: 0rem;
}

/* .shrinkLetter {
  font-size: 0;
} */

.irotatePc {
  cursor: pointer;
  z-index: 10;
  margin-right: 20px;
  margin-top: 10px;
}

.hidden {
  display: block;
}

.hiddenit {
  display: none;
}

.hiddenLetter {
  display: none;
  font-size: 0;
}

.letterBlock {
  height: var(--main-size);
  width: var(--main-size);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--main-size);
}

.seqLetter {
  font-size: 1.5rem;
}

.targetLetter {
  font-size: 100%;
  justify-self: center;
}

.letter {
  font-size: 100%;
  height: var(--main-size);
}

.greenLetter {
  font-size: 0;
  color: green;
}

.redLetter {
  color: red;
}
.HighScore {
  margin-bottom: 30px;
}
/* .Controls {
  height: 400px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.069);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
} */

.hideForPc {
  display: none;
}

.restart-icon {
  height: 80px;
  width: 80px;
  margin-top: 40px;
}

.restart-icon img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .hideForPc {
    display: flex;
  }
  .hideForMobile {
    display: none;
  }
  /* .timer {
    overflow: visible;
  }
  .flexit {
    overflow: visible;
  }
  .scoreit {
    overflow: visible;
  }
  .HighScore {
    overflow: visible;
  }
  .scores {
    overflow: visible;
  }
  .gameBox {
    overflow: visible;
  }
  .game-container {
    overflow: visible;
  }
  .background-container {
    overflow: hidden;
  }
  * {
    overflow: hidden;
  } */
  .fa-circle-pause {
    margin-top: 50px;
  }

  .gameover {
    font-size: 3em;
  }
  .snake1 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake2 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake3 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake4 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake5 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake6 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake7 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake8 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake9 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake10 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake11 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake12 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake13 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake14 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake15 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake16 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake17 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake18 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake19 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake20 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake21 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake22 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake23 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake24 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake25 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake26 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake27 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake28 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake29 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake30 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake31 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake32 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake33 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake34 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .snake35 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .portal {
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(45, 255, 196, 0.8);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(45, 255, 196, 0.8);
    box-shadow: inset 0px 0px 2px 2px rgba(45, 255, 196, 0.8);
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .obstacles1 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .obstacles2 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .obstacles3 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .obstacles4 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .obstacles5 {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }

  .obstacle {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .scores {
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
  }

  .HighScore {
    margin-bottom: 0;
  }
  .pauseMenu {
    height: 600px;
    width: 300px;
    background-color: rgba(9, 11, 10, 0.239);
  }
  .pauseMenuContent {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  .mega {
    margin-top: 30px;
  }
  .grid-variable-state {
    height: 300px;
  }

  .pauseAndResume {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 100px;
    padding-top: 0;
  }

  .restart {
    height: 50px;
    width: 220px;
  }
  .resume {
    height: 50px;
    width: 220px;
  }

  .booster {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .boosterMega {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .boosterTime {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .headsnake {
    height: var(--mobile-size);
    width: var(--mobile-size);
  }
  .letterBlock {
    height: var(--mobile-size);
    width: var(--mobile-size);
    font-size: var(--mobile-size);
  }
  .letter {
    height: var(--mobile-size);
    width: var(--mobile-size);
    font-size: var(--mobile-size);
  }

  .grid-value {
    display: none;
  }
  .heart {
    height: 30px;
    width: 100px;
    flex-direction: row;
  }
  .div2 {
    flex-direction: row;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: end;
    z-index: 9;
    margin: 0;
    padding: 0;
    position: relative;
    border-top-left-radius: 0 !important;
  }

  .heart1 {
    margin: 0;
    height: 10px;
    position: absolute;
    bottom: 0;
    height: 30px !important;
    width: 30px !important;
    border-radius: 0;
    left: 0;
  }

  .heart {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 8px;
  }

  .div1 {
    display: none;
  }
  .heart2 {
    margin: 0;
    height: 30px !important;
    width: 30px !important;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .heart3 {
    height: 10px;
    margin: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    height: 30px !important;
    width: 30px !important;
  }
  .fa-pause {
    font-size: 0;
  }
  .heartAndGameBox {
    flex-direction: column;
  }

  .fa-volume-high {
    font-size: 0;
  }
  .hidden {
    display: none;
  }
  .hiddenit {
    display: block;
  }
  .scoreit {
    width: 350px;

    height: 100px;
  }
  .irotateMobile .fa-solid {
    position: absolute;
    right: 8%;
    top: 60%;
    font-size: 2.8rem;
  }
  .sequence {
    width: 350px;
    background: rgb(200, 64, 65, 0.5);
    font-size: 10px;
    /* margin-top: 30px; */
  }

  .background-container {
    justify-content: center;
    align-items: start;
  }
  .game-container {
    height: 350px;
    width: 350px;
  }

  .logoimg {
    height: 100px;
    top: 30px;
  }

  .gameBox {
    height: 350px;
    width: 350px;
    margin: 0;
    border-top-right-radius: 10;
  }

  h2 {
    font-size: 0.8rem;
  }
  .score {
    font-size: 1rem;
  }
  .timer {
    font-size: 2.9rem;
    width: 80px;
    margin-right: 0px;
    top: 140%;
    right: 20px;
  }

  .up {
    display: block;
  }
  .right {
    display: block;
  }
  .left {
    display: block;
  }
  .down {
    display: block;
  }
  .circle {
    display: block;
  }
}
@media only screen and (max-height: 775px) {
  .right img {
    height: 50px;
  }
  .left img {
    height: 50px;
    transform: rotate(180deg);
  }
  .up img {
    height: 50px;
    transform: rotate(-90deg);
  }
  .down img {
    height: 50px;
    transform: rotate(90deg);
  }
  .right {
    position: absolute;
    top: 84%;
    right: 25%;
  }
  .left {
    position: absolute;

    top: 84%;
    left: 25%;
  }
  .up {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
  }
  .down {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
  }
  .circle {
    height: 50px;
    width: 50px;

    top: 84.2%;
  }
  .fa-circle-pause {
    margin-left: 30px;
    margin-top: 120px;
  }
}
